@model User


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> AddUser </p>
            <form class="theme-form" method="post" 
                asp-area="admin" asp-controller="User" asp-action="AddUser">
                <div class="form-group">
                    <label for="FullName">Full Name</label>
                    <input asp-for="FullName"
                           type="text" class="form-control" id="fname" placeholder="Full Name"
                           required="">
                    <span asp-validation-for="FullName"></span>
                </div>
                <div class="form-group">
                    <label for="email">email</label>
                    <input asp-for="Email"
                           type="text" class="form-control" id="email" placeholder="Email" required="">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label for="review">Password</label>
                    <input asp-for="Password"
                           type="password" class="form-control" id="review"
                           placeholder="Enter your password" required="">
                    <span asp-validation-for="Password"></span>
                </div>
                <button type="submit" class="btn btn-gradient-primary me-2">CreateUser</button>
                <a asp-action="GetAllUser" class="btn btn-light">Cancel</a>

            </form>
        </div>
    </div>
</div>